body {
  margin: 0;
}
.main-cube-div {
  width: 100%;
  .main-cube-container {
    position: relative;
    float: left;
    .main-cube {
      margin-top: 0px;
      position: absolute;
      transform-style: preserve-3d;
      position: relative;
      transform: rotateY(0);
      transition-duration: 1s;
      div.main-face {
        background-color: $rgba-primary-0;
        transition: background-color 1s ease-in;
        position: absolute;
        text-align: center;
        color: #fff;
        div.face-container {
          padding: 3%;
          h2 {
            text-align: center;
          }
          p {
            text-align: left;
          }
        }
      }
      div.on-front {
        div.face-container {
          background-color: $rgba-primary-2;
        }
      }
      div.on-left {
        div.face-container {
          background-color: $rgba-primary-1;
        }
      }
      div.on-back {
        div.face-container {
          background-color: $rgba-primary-4;
        }
      }
      div.on-right {
        div.face-container {
          background-color: $rgba-primary-3;
        }
      }
    }
    div.direction {
      display: flex;
      position: fixed;
      z-index: 100;
      background-color: rgba(255, 255, 255, 0.51);
      width: 1em;
      padding: 1em;
    }
    div#toLeft {
      justify-content: flex-end;
      left: -15px;
      border-radius: 0% 50% 50% 0%;
    }
    div#toRight {
      justify-content: flex-start;
      right: -15px;
      border-radius: 50% 0% 0% 50%;
    }
  }
}
