{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
  {% include "cahierdeliaison/navbar.html" %}
    <div class = "main-cube-div">
	  	<div class="main-cube-container">
        <div id="toLeft" class="direction">
          <i class="fas fa-chevron-left"></i>
        </div>
	  		<div class="main-cube">
	  			<div class="main-face main-front cursor_front on-front">
            <div class="face-container">
            {% block content %}
            {% endblock %}
            </div>
            {% include "cahierdeliaison/footer.html" %}
          </div>
	  			<div class="main-face main-left cursor_left on-left">
            <div class="face-container">
            {% block left %}
            {% endblock %}
            </div>
            {% include "cahierdeliaison/footer.html" %}
          </div>
	  			<div class="main-face main-right cursor_right on-right">
            <div class="face-container">
            {% block right %}
            {% endblock %}
            </div>
            {% include "cahierdeliaison/footer.html" %}

          </div>
	  			<div class="main-face main-back cursor_back on-back">
            <div class="face-container">
            {% block back %}
            {% endblock %}
            </div>
            {% include "cahierdeliaison/footer.html" %}
          </div>
          <div class="secondary-face main-top cursor_top on-top">
            <div class="face-container">
              {% block top %}
              {% endblock %}
            </div>
          </div>
          <div class="secondary-face main-bottom cursor_bottom on-bottom">
            <div class="face-container">
            {% block bottom %}
            {% endblock %}
            </div>
          </div>
	  		</div>
        <div id="toRight" class="direction">
          <i class="fas fa-chevron-right"></i>
        </div>
	  	</div>
    </div>
  <script src="{% static '@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <!-- <script src="{% static 'popper.js/dist/popper.min.js' %}"></script> -->
  <!-- <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> -->
  <script src="{% static 'js/script.js' %}"></script>
</body>
